// COLORS
$color-main: #D15858;
$color-gray0: #383838;
$color-gray1: #919191;
$color-gray2: #D9D9D9;
$color-gray3: #EAEAEA;
$color-gray4: #F0f0f0;
$shadow: 3px 3px 9px #00000016, -5px -5px 10px white;
$shadow2: 3px 3px 9px rgb(117 0 0 / 10%);
$shadow3: 3px 3px 9px rgb(117 0 0 / 20%);

// FONTS
$font-size: 12px;
$font-size2: 14px;